body {
  background: linear-gradient(to bottom right, #ff00ff, #00ffff);
}


     /* <Header> */

nav {
  background-color: #333;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}


  /* Search Module */

form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 400px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  outline: none;
}

button[type="submit"] {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

    /* </Header> */


  /* Image Animation */

.zoom-in {
  transition: transform 0.5s;
}

.zoom-in:hover {
  transform: scale(1.2);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  width: 40%;
  height: auto;
}


  /* Book Viewer */

#viewer {
  width: 100%;
  height: 100%;
}
